
.add_songs_frm{
  height: auto;
  border-radius: 10px;
  backdrop-filter: blur(100px);
  width: 350px;
  z-index: 1000000000000000;
  position: relative;
  margin: 100px auto 0;
}
#songname,#songurl{
  width: 90%;
  height: 30px;
  border: none;
  background-color: rgba(0,0,0,0.1);
  outline: none;
  padding: 20px;
  color: white;
  margin-left: 17px;
  margin-top: 10px;
}
label{
  margin-left: 17px;
  margin-top: 10px;
}
.addsongbtn{
  margin-top: 13px;
  margin-bottom: 13px;
  width: 50%;
  background-color: rgba(0,0,0,0.1);
  outline: none;
  border: none;
  height: 30px;
  border-radius: 10px;
}
.leftbox{
  width: 250px;
  height: 100px;
  background-color: rgba(15,255,250,0.9);
  border-radius: 30px;
 /* transform: translate(-50% -50%);*/
  position: absolute;
  top: 20%;
  left: 40%;
}